@media only screen and (max-width: 1024px) and (orientation: portrait) {
    .result-section .top-head{ width:100%; text-align:center; }
	.result-section  .share-link{text-align:center; width:88%;}
	.result-section .left-section{width:100%;}
	.w33{width:100%; margin:3% 0 !important;}
	.result-section .mid-section .mid-inner input{width:100% !important;}
	.result-section .bottom-section{text-align:center;}
	.result-section .right-section{width:100%;}
	.result-section .right-section h4{text-align:center;}
	.result-section .mid-section .mid-inner{width:100%; margin:0 auto;}
	.result-section .right-section h5{margin: 0px 40%;}
	.result-section .right-section .txt h5{ text-align:center; margin:0 auto;}
	.result-section .right-section .internal-sec .res h3{margin:20px 26% 5%;}
	.result-section .right-section .internal-sec h3 i{font-size:22px;padding-left:0px;margin-top:2px;}
	.result-section .right-section .internal-sec h3 span{font-size:20px;}
	.w50{width:100%;}
	.txt{text-align:center;}
	}
	@media only screen and (max-width: 1024px) and (orientation: landscape) {
    .result-section .top-head{ width:100%; text-align:center; }
	.result-section  .share-link{text-align:center; width:65%;}
	.result-section .left-section{width:100%;}
	.w33{width:100%; margin:3% 0 !important;}
	.result-section .mid-section .mid-inner input{width:100% !important;}
	.result-section .bottom-section{text-align:center;}
	.result-section .right-section{width:100%;}
	.result-section .right-section h4{text-align:center;}
	.result-section .mid-section .mid-inner{width:100%; margin:0 auto;}
	.result-section .right-section h5{margin: 0px 45%;}
	.result-section .right-section .txt h5{ text-align:center; margin:0 auto;}
	.result-section .right-section .internal-sec .res h3{margin:20px 34% 5%;}
	.txt{text-align:center;}
	.w50{width:100%;}
	}
	@media only screen and (max-width: 1366px) and (min-width:1200px) {
	
	}
	@media only screen and (min-width:1366){
	}